{% extends "base.html" %}
{% block body %}
<form action={{ url_for("main.upload_file") }} method="post" enctype="multipart/form-data">
    {{ u_form.hidden_tag() }}
    <p>{{ u_form.file() }}</p>
    <p>{{ u_form.submit() }}</p>
</form>
<br>
<br>
<form action={{url_for("main.create_dir")}} method="post">
    {{ d_form.hidden_tag() }}
    <p>
	{{ d_form.dir_name.label }}<br>
	{{ d_form.dir_name(size=10) }}<br>
    </p>
    <p>{{ d_form.submit() }}</p>
</form>
<br>
<br>
<p onclick='cd("..")'><b><u>BACK</u></b></p>
<br>
<div id="file_section">
    <p>files:</p>
    <ul id="files"></ul>
</div>
<p>file sizes:</p>
<ul id="file_sizes"></ul>
<p>folders:</p>
<ul id="folders"></ul>

<script type="text/javascript" src={{ url_for('static', filename="main2.js")}}></script>
{% endblock %}
